BBQSQL>=1.1
Babel>=1.3
BeautifulSoup>=3.2.1
Django>=1.6.6
Flask>=0.10.1
GeoIP-Python>=1.2.4
Jinja2>=2.7.3
Mako>=0.9.1
MarkupSafe>=0.23
Mezzanine>=3.1.9
MySQL-python>=1.2.3
Orange>=2.7.2
PAM>=0.4.2
Pillow>=2.3.0
PyBrain>=0.3
PyChart>=1.39
PyYAML>=3.10
Pygments>=1.6
SOAPpy>=0.12.0
SimpleCV>=1.3
Skype4Py>=1.0.31.0
Twisted-Core>=13.2.0
Twisted-Web>=13.2.0
WebOb>=1.4
WebTest>=2.0.16
Werkzeug>=0.9.4
adium-theme-ubuntu>=0.3.4
apt-xapian-index>=0.45
argparse>=1.2.1
beautifulsoup4>=4.3.2
bleach>=1.4
bottle>=0.11.6
ccsm>=0.9.11.3
chardet>=2.0.1
colorama>=0.2.5
command-not-found>=0.3
compizconfig-python>=0.9.11.3
configobj>=4.7.2
coursera-dl>=3.0.0
coverage>=3.7.1
coveralls>=0.3
debtagshw>=0.1
decorator>=3.4.0
defer>=1.0.6
dirspec>=13.10
dnspython>=1.11.1
docopt>=0.6.1
docutils>=0.11
duplicity>=0.6.23
ethtool>=0.7
f.lux-indicator-applet>=1.1.8
feedparser>=5.1.3
filebrowser-safe>=0.3.5
fpconst>=0.7.2
future>=0.9.0
gevent>=1.0
grappelli-safe>=0.3.12
greenlet>=0.4.2
grequests>=0.2.0
gyp>=0.1
html5lib>=0.999
httplib2>=0.8
ipython>=1.2.1
itsdangerous>=0.23
lockfile>=0.8
lxml>=3.3.3
matplotlib>=1.3.1
mechanize>=0.2.5
mock>=1.0.1
mrjob>=0.4.2
netaddr>=0.7.10
networkx>=1.8.1
nltk>=2.0.4
nose>=1.3.0
numpy>=1.8.2
oauthlib>=0.6.3
## FIXME: could not find svn URL in dependency_links for this package:
odoo>=8.0-20150202
oneconf>=0.3.7
passlib>=1.5.3
pbr>=0.10.7
pexpect>=3.1
phonenumbers>=6.2.0
piston-mini-client>=0.7.5
prettytable>=0.7.2
psutil>=1.2.1
psycopg2>=2.4.5
pyOpenSSL>=0.13
pyPdf>=1.13
pycountry>=1.8
pycrypto>=2.6.1
pycryptopp>=0.6.0.1206569328141510525648634803928199668821045408958
pycups>=1.9.66
pycurl>=7.19.3
pydot>=1.0.28
pygobject>=3.12.0
pygpgme>=0.3
pyinotify>=0.9.4
pymongo>=2.6.3
pymssql>=1.0.2
pyparsing>=2.0.1
pyserial>=2.6
pysmbc>=1.0.14.1
pysqlite>=2.6.3
python-apt>=0.9.3.5ubuntu1
python-dateutil>=1.5
python-debian>=0.1.21-nmu2ubuntu2
python-ldap>=2.4.10
python-nmap>=0.3.2
python-openid>=2.2.5
pytz>=2012c
pyxdg>=0.25
pyzmq>=14.0.1
reportlab>=3.0
requests>=2.1.0
requests-oauthlib>=0.4.1
roman>=2.0.0
selenium>=2.39.0
sessioninstaller>=0.0.0
sh>=1.09
simplegeneric>=0.8.1
simplejson>=3.3.1
six>=1.9.0
software-center-aptd-plugins>=0.0.0
stevedore>=1.2.0
suds>=0.4.1
system-service>=0.1.6
twitter>=1.10.2
tzlocal>=1.0
uTidylib>=0.2
unittest2>=0.5.1
unity-lens-photos>=1.0
urllib3>=1.7.1
vatnumber>=1.1
vboxapi>=1.0
virtualenv>=1.11.4
virtualenv-clone>=0.2.5
virtualenvwrapper>=4.3.2
vobject>=0.8.1c
waitress>=0.8.9
whois>=0.7
wsgiref>=0.1.2
wxPython>=2.8.12.1
wxPython-common>=2.8.12.1
xdiagnose>=3.6.3build2
xlrd>=0.9.3
xlwt>=0.7.5
youtube-dl>=2015.01.04
zenmap>=6.40
zope.interface>=4.0.5
